{% extends "site_base.html" %}

{% block head_title %}Helping You Make Secure Transactions{% endblock %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}mockups/css/style.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% load i18n %}

{% block body %}
<div class="enclosing">
    <div class="left_box">
    </div>
    <div class="right_box">
        <p class="strong">The safest way to do home renovation</p>
        <br />
        <p>Create a new account as:</p>
        <br />
        <p><span>Homeowner</span><span>Contractor</span></p>
        <br />
        <p><span>Tell Me More</span></p>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
