{% extends "base.html" %}

{% load i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}images/logo.png" /></a>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2010-2011 SafePact" %}&nbsp;&nbsp;{% if user.is_authenticated %}{% if user.is_staff %}<a href="/admin/">Admin</a>{% endif %}{% endif %}
</div>
{% endblock %}